<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

{% if page.title and page.title != site.title %}
  {% assign page_title = page.title | append: " - " | append: site.title %}
{% else %}
  {% assign page_title = site.title %}
{% endif %}
{% assign page_description = page.excerpt | default: site.description | strip_html | strip_newlines | escape_once %}
{% assign page_url = page.url | replace: "index.html", "" | absolute_url %}

<title>{{ page_title }}</title>
<meta name="description" content="{{ page_description }}">
<link rel="canonical" href="{{ page_url }}">
<meta property="og:site_name" content="{{ site.title }}">
<meta property="og:title" content="{{ page.title | default: site.title }}">
<meta property="og:description" content="{{ page_description }}">
<meta property="og:url" content="{{ page_url }}">

<link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}">
<link rel="icon" type="image/svg+xml" href="{{ '/images/favicon.svg' | relative_url }}">
<link rel="icon" type="image/png" sizes="32x32" href="{{ '/images/favicon-32x32.png' | relative_url }}">
<link rel="apple-touch-icon" sizes="180x180" href="{{ '/images/apple-touch-icon-180x180.png' | relative_url }}">
<link rel="manifest" href="{{ '/images/manifest.json' | relative_url }}">
