{% assign author = site.author %}
<div class="sidebar sticky">
  <div class="author__avatar">
    <img src="{{ author.avatar | prepend: '/images/' | relative_url }}" alt="{{ author.name }}" fetchpriority="high">
  </div>

  <div class="author__content">
    <h3 class="author__name">{{ author.name }}</h3>
    <p class="author__bio">{{ author.bio }}</p>
    <ul class="author__urls">
      <li><a href="https://github.com/{{ author.github }}">GitHub</a></li>
      <li><a href="https://www.linkedin.com/in/{{ author.linkedin }}">LinkedIn</a></li>
    </ul>
  </div>
</div>
